@using TourCrow.Controllers
@{
    ViewBag.Title = "Index";
}
<div>
    <img src="@JsonParsingController.place_image("CmRdAAAA81QmC0UxlcGhSGYWug3eABVsKIO4eOjKvrcqLgPgp2PqKpJZNfwahQ2sycMNF9N0koVVUBY7gvRF_26PehS1OZKvSl2JE7uaOHN1JD1hMpRSA_Wrk9jxpRjPE2ZpwxxGEhD8-Ghz27Xkk3uVjomlKPO9GhTKLU_FANURb-m37u_EjG7vTuEDUg")" />
    
</div>
