@using TourCrow.Controllers
@using TourCrow.Models
@{
    ViewBag.Title = "Index";
    
}
<div>
    
    <img src="@JsonParsingController.place_image("")"/>
        

    <textarea id="txt1"></textarea>
    <button id="btn1">submit</button>

</div>

<script>
    
</script>
